{% extends "base.html" %}

{% block title %}Chart{% endblock %}

{% block content %}
<div className='chart'>
  <h2>Temperature Chart</h2>

  <div class="row">
    <div class="col-10" id="linechart">

    </div>
    <div class="col">
      <label for="time">time</label>
      <select name="time" id="select-time" title="time" class="custom-select">
        <!-- {% for year in year%}
        <option value="{{year}}" {% if year_selected==year %} selected {% endif %}>{{year}}
        </option>
        {% endfor %} -->
      </select>
    </div>
  </div>
</div>


{% endblock %}