{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard_content">
    <div class="container">
        <div class="header_dashboard">
            <h1 class="title">Dashboard</h1>
            <p>Welcome back <span class="name"
                                  id="user_name">{{request.user.first_name|default:request.user.username }}</span></p>
        </div>

        <div class="divices-control">
            <div class="row">
                <div class="col-3">
                    <div class="control_item">
                        <div class="row">
                            <div class="col-10">
                                <div class="left-item">
                                    <p class="divice_name"> Fan</p>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="right-item">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" {% if latest_devices_status.hasFan %} checked {% endif %} type="checkbox" id="flexSwitchCheckDefaultFan">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="control_item">
                        <div class="row">
                            <div class="col-10">
                                <div class="left-item">
                                    <p class="divice_name"> Led</p>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="right-item">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" {% if latest_devices_status.hasLed %} checked {% endif %} type="checkbox" id="flexSwitchCheckDefaultLed">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-3">
                    <div class="control_item">
                        <div class="row">
                            <div class="col-10">
                                <div class="left-item">
                                    <p class="divice_name"> Pump</p>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="right-item">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" {% if latest_devices_status.hasPump %} checked {% endif %} type="checkbox" id="flexSwitchCheckDefaultPump">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-9">
                    <div class="control_item">
                        <div class="row">
                            <div class="col-10">
                                <div class="left-item">
                                    <p class="divice_name"> Automation Mode</p>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="right-item">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" {% if latest_status.enableAutomation %} checked {% endif %} type="checkbox" id="showRanges">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mt-3" id="wrapper">
                <div class="wrapper-soil col-9">
                <p class="col-12 title"   >Automation mode control</p>
                 <div class="col-4" id="soilRangeContainer">
                    <div class="soil_range">
                        <p class="status" id="soilStatus">{{ latest_data_auto.minimum_soilmoisture  }}%</p>
                        <label for="customRangeSoil" class="label-bar">Minimum Soil Moisture</label>
                        <input type="range" id="customRangeSoil">
                    </div>
                </div>
                <div class="col-4"  id="temperatureRangeContainer">
                    <div class="soil_range">
                        <p class="status" id="tempStatus">{{ latest_data_auto.maximum_temperature }}&deg;C</p>
                        <label for="customRangeTemperature" class="label-bar">Maximum Temperature</label>
                        <input type="range" id="customRangeTemperature">
                    </div>
                </div>
                     <div class="col-4"  id="lightRangeContainer">
                    <div class="soil_range">
                        <p class="status" id="lightStatus">{{ latest_data_auto.minimum_light_intensity }}%</p>
                        <label for="customRangeLight" class="label-bar">Maximum Light Intensity</label>
                        <input type="range" id="customRangeLight">
                    </div>
                </div>
                </div>

            </div>
            <div class="btn-group row">
<!--                <div class="col-4">-->
<!--                </div>-->
<!--                <div class="col-4">-->
<!--                </div>-->
                <button type="button" class="btn btn-primary saveBtn col-4" id="editAuto">Edit</button>

                <button type="button" class="btn btn-primary saveBtn col-4" id="save">Save</button>

            </div>

        </div>

    </div>
</div>
<script>
    // This lines should in this html file
    document.addEventListener("DOMContentLoaded", function() {
        const checkboxLed = document.getElementById("flexSwitchCheckDefaultLed");
        const checkboxFan = document.getElementById("flexSwitchCheckDefaultFan");
        const checkboxPump = document.getElementById("flexSwitchCheckDefaultPump");
        const user_name = document.getElementById("user_name").textContent;
        const user_id = "{{request.user.id}}";
        const lightRangeInput = document.getElementById("customRangeLight");
        lightRangeInput.value ={{ latest_data_auto.minimum_light_intensity }};
        const lightStatusElement = document.getElementById("lightStatus");
        const soilRangeInput = document.getElementById("customRangeSoil");
        soilRangeInput.value = {{ latest_data_auto.minimum_soilmoisture  }}
        const soilStatusElement = document.getElementById("soilStatus");
        const tempRangeInput = document.getElementById("customRangeTemperature");
        tempRangeInput.value = {{ latest_data_auto.maximum_temperature }}
        const  tempStatusElement = document.getElementById("tempStatus");
        const showRangesCheckbox = document.getElementById("showRanges");
        const soilRangeContainer = document.getElementById("soilRangeContainer");
        const temperatureRangeContainer = document.getElementById("temperatureRangeContainer");
        const lightRangeContainer = document.getElementById("lightRangeContainer");
        const editBth = document.getElementById("editAuto");
        const saveBth = document.getElementById("save");
        let intervalId;

      const devices_status = {
        "hasLed": checkboxLed.checked,
        "hasFan": checkboxFan.checked,
        "hasPump": checkboxPump.checked
      }


      checkboxLed.addEventListener("change", function() {
        if (checkboxLed.checked) {
          devices_status["hasLed"] = true;
        } else {
          devices_status["hasLed"] = false;
        }
        sendLedRequest("led", devices_status, devices_status["hasLed"]);
      });

      checkboxFan.addEventListener("change", function() {
        if (checkboxFan.checked) {
          devices_status["hasFan"] = true;
        } else {
          devices_status["hasFan"] = false;
        }
        sendLedRequest("fan", devices_status, devices_status["hasFan"]);

      });

      checkboxPump.addEventListener("change", function() {
        if (checkboxPump.checked) {
          devices_status["hasPump"] = true;
        } else {
          devices_status["hasPump"] = false;
        }
        sendLedRequest("pump", devices_status, devices_status["hasPump"]);
      });

      function sendLedRequest(device_name, devices_status, state) {
        const xhr = new XMLHttpRequest();
        const url = 'http://127.0.0.1:8000/control_device/';
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            console.log(xhr.responseText);
          }
        };

        const data = JSON.stringify({ state: state , device_name: device_name, user_id: user_id, user_name: user_name,  devices_status: devices_status});
        xhr.send(data);

        var csrfToken = "{{ csrf_token }}";
        devices_status['author'] = {{request.user.id}};
        const xhr1 = new XMLHttpRequest();
        const url1 = 'http://127.0.0.1:8000/api/panelcontrol/';
        xhr1.open("POST", url1, true);
        xhr1.setRequestHeader("Content-Type", "application/json");
        xhr1.setRequestHeader("X-CSRFToken", csrfToken);

        xhr1.onreadystatechange = function() {
          if (xhr1.readyState === XMLHttpRequest.DONE) {
            console.log(xhr.responseText);
          }
        };

        const data1 = JSON.stringify(devices_status);
        xhr1.send(data1);
      }

    function checkRoomCondition() {
        fetch("/check_room_status/")
            .then(response => response.json())
            .then(data => {
                console.log(parseInt(data.temperature));
                console.log(parseInt(tempRangeInput.value));
                console.log(parseInt(lightRangeInput.value));
                console.log(parseInt(soilRangeInput.value));

                if (parseInt(data.temperature) > parseInt(tempRangeInput.value)) {
                    if (!checkboxFan.checked) {
                        checkboxFan.checked = true;
                        devices_status["hasFan"] = true;
                        sendLedRequest("fan", devices_status, true)
                        console.log("Turn on Fan");
                    }

                }
                if (parseInt(data.soilmoisture) < parseInt(soilRangeInput.value)){
                     if (!checkboxPump.checked) {
                         checkboxPump.checked = true;
                         devices_status["hasPump"] = true;
                        sendLedRequest("pump", devices_status, true)
                         console.log("Turn on Pump");
                     }
                }
                if (parseInt(data.temperature) < parseInt(tempRangeInput.value)) {
                    if (checkboxFan.checked) {
                        checkboxFan.checked = false;
                        devices_status["hasFan"] = false;
                        sendLedRequest("fan", devices_status, false)
                        console.log("Turn off Fan");
                    }

                }
                if (parseInt(data.soilmoisture) > parseInt(soilRangeInput.value)){
                     if (checkboxPump.checked) {
                         checkboxPump.checked = false;
                         devices_status["hasPump"] = false;
                        sendLedRequest("pump", devices_status, false)
                         console.log("Turn off Pump");
                     }
                }
                if (parseInt(data.light_intensity) > parseInt(lightRangeInput.value)){
                if (!checkboxPump.checked) {
                 checkboxLed.checked = true;
                 devices_status["hasPump"] = true;
                    sendLedRequest("pump", devices_status, true)

                 console.log("Turn on Led");
                }

                }
            })
            .catch(error => {
                console.error("Error fetching data:", error);
            });
    }
    function updateInterval() {
        if (showRangesCheckbox.checked) {
            // Start the interval and store its ID
            intervalId = setInterval(checkRoomCondition, 10000);
        } else {
            // Clear the interval using the stored ID
            clearInterval(intervalId);
        }
    }


    lightRangeInput.addEventListener("input", function() {
    const newValue = lightRangeInput.value;
    lightStatusElement.textContent = newValue + "%";
    });


    soilRangeInput.addEventListener("input", function() {
    const soilNewValue = soilRangeInput.value;
    soilStatusElement.textContent = soilNewValue + "%";
    });


    tempRangeInput.addEventListener("input", function() {
    const tempNewValue = tempRangeInput.value;
    tempStatusElement.textContent = tempNewValue + "°C";
    });

    saveBth.style.display = "none";

    if (showRangesCheckbox.checked){
        soilRangeContainer.style.display = "block";
        temperatureRangeContainer.style.display = "block";
        lightRangeContainer.style.display = "block";
        editBth.style.display = "block";
    }
    else {
        soilRangeContainer.style.display = "none";
            temperatureRangeContainer.style.display = "none";
            lightRangeContainer.style.display = "none";
            editBth.style.display = "none";
            saveBth.style.display = "none";
    }

    showRangesCheckbox.addEventListener("change", function() {
        updateInterval();
        const xhr = new XMLHttpRequest();
        var csrfToken = "{{ csrf_token }}";
        const url = 'http://127.0.0.1:8000/api/automationstatus/';
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.setRequestHeader("X-CSRFToken", csrfToken);

        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            console.log(xhr.responseText);
          }
        };
        const autodata = {
            "enableAutomation": showRangesCheckbox.checked,
        }
        const data = JSON.stringify(autodata);
        xhr.send(data);

        if (showRangesCheckbox.checked) {
            wrapper.style.display = "block";
            soilRangeContainer.style.display = "block";
            temperatureRangeContainer.style.display = "block";
            lightRangeContainer.style.display = "block";
            editBth.style.display = "block";
        } else {
            wrapper.style.display = "none";
            soilRangeContainer.style.display = "none";
            temperatureRangeContainer.style.display = "none";
            lightRangeContainer.style.display = "none";
            editBth.style.display = "none";
            saveBth.style.display = "none";
        }
    });

    editBth.addEventListener("click", function() {
        saveBth.style.display = "block";
    });

    saveBth.addEventListener("click", function() {
        saveBth.style.display = "none";
        const xhr = new XMLHttpRequest();
        const new_soil = soilRangeInput.value;
        const new_temp = tempRangeInput.value;
        const new_light = lightRangeInput.value;
        var csrfToken = "{{ csrf_token }}";
        const url = 'http://127.0.0.1:8000/api/automation/';
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.setRequestHeader("X-CSRFToken", csrfToken);

        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            console.log(xhr.responseText);
          }
        };
        const autodata = {
            "maximum_temperature": soilRangeInput.value,
            "minimum_soilmoisture": tempRangeInput.value,
            "minimum_light_intensity": lightRangeInput.value
        }
        const data = JSON.stringify(autodata);
        xhr.send(data);
    });

    updateInterval();

    });

</script>

{% endblock %}