{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- page-wrapper Start-->

<div class="home_content">
  <div class="container">
    <div class="header_dashboard">
      <h1 class="title">Home</h1>
      <h4>Welcome back <span class="name">{{request.user.first_name|default:request.user.username }}</span></h4>
    </div>

    <div class="devices-display">
      <div class="row" id="iot-row">
        <div class="col main-card iot-card">
          <div class="row">
            <div class="col-4 box-iot-icon">
              <div class="border-iot-icon">
                <div class="iot-icon">
                  <img class="tem" src="./../../../media/iot/temperature.png" alt="tem" />
                </div>
              </div>
            </div>
            <div class="col">
              <div class="box-content">
                <span class="title">
                  {{ latest_data.temperature  }}
                </span>
                <span class="content">
                  Temperature (℃)
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col main-card iot-card">
          <div class="row">
            <div class="col-4 box-iot-icon">
              <div class="border-iot-icon">
                <div class="iot-icon">
                  <img class="tem" src="./../../../media/iot/light-sensor.png" alt="tem" />
                </div>
              </div>
            </div>
            <div class="col">
              <div class="box-content">
                <span class="title">

                  {{  latest_data.light_intensity }}
                </span>
                <span class="content">
                  Light Intentsity (%)
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col main-card iot-card">
          <div class="row">
            <div class="col-4 box-iot-icon">
              <div class="border-iot-icon">
                <div class="iot-icon">
                  <img class="tem" src="./../../../media/iot/humidity.png" alt="tem" />
                </div>
              </div>
            </div>
            <div class="col">
              <div class="box-content">
                <span class="title">
                  {{ latest_data.soilmoisture  }}
                </span>
                <span class="content">
                  Soil Moisture (%)
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="main-card recent-noti mt-3">
          <h3 class="border-bottom pb-2 mb-0">Recent notification</h3>

          {% for notification in notifications %}
            <div class="box-noti text-muted">
            <div class="d-flex">

              <div class="box-icon">
                <div class="flex-shrink-0 bell-icon ">
                  <i class="fa-regular fa-bell fa-shake"></i>
                </div>
              </div>
              <p class="mb-0 small lh-sm col content">
                <strong class="d-block text-gray-dark">{{notification.username}}</strong>
                {{notification.message}}
              </p>
            </div>

            <div class="time col-2">
              <span>
                 {{notification.created}}
              </span>
            </div>
          </div>
          {% endfor %}

          <small class="d-block text-end mt-3">
          </small>
          {% include "paginator.html" with page=notifications %}
        </div>
      </div>

    </div>
  </div>
</div>
<!-- page-wrapper end-->

{% endblock %}