$text-color: #f3f7cc;
$back-ground-color:  #006eb7;

.page-sub-header {
  background-color: $back-ground-color;
  display: flex;
  flex-direction: column;
  height: 100vh;

  border-width: 1px 0;

  .logo {
    cursor: pointer;
    .logo-image {
      width: 60px;
    }
    .name {
      color: white;
      margin-left: 20px;
      font-size: 1.2em;
      font-weight: 600;
      word-wrap: break-word;
    }
  }
 
  .box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    //background-color: #009fee;
    color: white;
    position: relative;
    margin-right: 20px;
    transition: 0.5s all;
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .nav {
    .nav-link {
      align-items: center;
      color: #111828;
      margin-bottom: 10px;
      text-transform: capitalize;
      transition: all 0.5s ease;
      &.active {
        border-color: #31322d;
        //border: 1px solid;
      }


      &:hover {
        &::before{
          width: 20px;
        }
        .box-icon {
          //background-color: #c5cdc5;
          color:black
        }
        i {
          font-size: larger;
          color: black;
        }
        .nav-title{
          color: black;
          &::before{
            position: absolute;
            content: '';
            background: white;
            width: 0px;
            height: 2px;
            bottom: 13px;
            transition: all .5s;

          }
          &:hover {
            &::before{
              width: 20px;
            }
          }

        }
      }
    }
    .nav-link.active,
    .show > .nav-link {
      background-color: white;
      color: #111828;
    }
    .nav-title {
      color: white;
      font-size: 1.1em;
    }
    .nav-link.active .box-icon{
      color: black;
    }
    .nav-link.active .nav-title{
      color: black
    }

  }
 
  .account {
    &::before {
      display: block;
      content: "";
      border-top: 1px solid black;
      opacity: 0.2;
    }

    .account-box{
      padding: 10px 15px;
      .dropdown-toggle{
        &::after{
          color: white;
        }
      }
      .nav-title{
      color: white;
        &::after{
          color: white;
        }
      }
    }

  }
}

.main-card {
  -webkit-box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
  //box-shadow: 4px 4px 0px -1px rgb(0, 0, 0);
  border-radius: 20px;
  transition: all 0.3s ease;
  border-color: #31322d;
  //border: 1px solid;
  &:hover {
    //-webkit-box-shadow: 0;
    box-shadow: none;
  }
}

.page-wrapper#home {
  // flex-wrap: nowrap;
  //height: -webkit-fill-available;
  max-height: 100vh;
  height: 100vh;
  // overflow-x: auto;
  // overflow-y: hidden;


  .page-body-wrapper {
    height: 100vh;
    .home_content {
      .devices-display {
        #iot-row {
          column-gap: 10px;
        }

        .iot-card {
          padding: 30px 20px;

          .box-content {
            .title {
              margin-bottom: 4px;
              font-size: 24px;
              font-weight: 600;
              display: block;
            }
            .content {
              font-weight: 600;
              //color: rgba(132, 135, 137, 0.8);
              font-size: 14px;
            }
          }
          .box-iot-icon {
            .border-iot-icon {
              display: flex;
              border-color: #ff6150;
              border-width: 1px;
              border-style: solid;
              border-radius: 100%;
              width: 80px;
              .iot-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 60px;
                margin: 6px;
                background-color: white;
                padding: 12px;
                //-webkit-box-shadow: 1px 2px 21px -2px rgba(214, 214, 227, 0.83);
                //box-shadow: 1px 2px 21px -2px rgba(214, 214, 227, 0.83);
                img {
                  width: 100%;
                  -webkit-animation: tada 1.5s ease infinite;
                  animation: tada 1.5s ease infinite;
                  &:hover {
                  }
                }
              }
            }
          }
        }
        .my-paginator{
          .pagination{
            justify-content: end;
            .page-item{
              .page-link {
                color: black

              }
          }
        }
        }

      }
      .recent-noti {
        padding: 30px 20px;

        .box-noti {
          display: flex;
          justify-content: space-between;
          padding: 20px 0;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          //&::nth-last-child() {
          //  border-bottom: 1px solid transparent;
          //}
          .time {
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          .box-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            .bell-icon {
              width: 50px;
              height: 50px;
              background-image: linear-gradient(
                144.16deg,
                rgba(51, 191, 191, 0.1) 19.06%,
                rgba(51, 191, 191, 0) 79.03%
              ) !important;
              display: flex;
              border-radius: 50px;

              justify-content: center;
              align-items: center;
              i {
                color: #33bfbf;
                stroke: #33bfbf;
                fill: #33bfbf;
              }
            }
          }
        }
      }
    }
  }
}
